<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/battle.css" />
  </head>
  <body>
    <div class="bottom"></div>
    <div id="demo">
        <p id="image" class='test-animation-image'></p>
      </div>
      <script src="../js/animation.js"></script>
    <section>
      <div class="float-container">
        <figure id="diagram-movement-range" class="float-right">
          <svg
            viewBox="-972.6279441628825 -972.6279441628825 2945.255888325765 1945.255888325765"
            style="max-width: 1100px; max-height: 900px;"
          >
            <g transform="rotate(-30)" fill="rgba(0,0,0,0)" stroke="green">
              <g class="grid">
                <g transform="translate(-750,-433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-750,-260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-750,-87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-750,87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-750,260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-750,433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-600,-520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-600,-346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-600,-173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-600,0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-600,173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-600,346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-600,520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-450,-606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-450,-433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-450,-260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-450,-87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-450,87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-450,260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-450,433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(-450,606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(-300,-693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-300,-520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-300,-346)">
                  <g class="path">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-300,-173)">
                  <g class="path">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-300,0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-300,173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(-300,346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(-300,520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(-300,693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(-150,-779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-150,-606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(-150,-433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-150,-260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(-150,-87)">
                  <g class="path">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(-150,87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(-150,260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(-150,433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(-150,606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(-150,779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(0,-866)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">2</text>
                </g>
                <g transform="translate(0,-693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(0,-520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(0,-346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(0,-173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(0,0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(0,173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(0,346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(0,520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(0,693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(0,866)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(150,-779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">3</text>
                </g>
                <g transform="translate(150,-606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(150,-433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(150,-260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(150,-87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(150,87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(150,260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(150,433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(150,606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(150,779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(300,-693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">4</text>
                </g>
                <g transform="translate(300,-520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(300,-346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(300,-173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(300,0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(300,173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(300,346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(300,520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(300,693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(450,-606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">5</text>
                </g>
                <g transform="translate(450,-433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(450,-260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(450,-87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(450,87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(450,260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(450,433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(450,606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(600,-520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">6</text>
                </g>
                <g transform="translate(600,-346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(600,-173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(600,0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(600,173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(600,346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(600,520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(750,-433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">7</text>
                </g>
                <g transform="translate(750,-260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(750,-87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(750,87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(750,260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(750,433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(-150,-952)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-300,-866)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-300,-1039)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-450,-779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-450,-952)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-600,-693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-900, 346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-1050, 259)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-1050, 86)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-900, 173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">1</text>
                </g>
                <g transform="translate(-900, 0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(-900, -173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">0</text>
                </g>
                <g transform="translate(750, 606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(750, 779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(750, 952)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(750, 1125)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(750, 1298)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(600, 693)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(600, 866)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(600, 1039)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(600, 1212)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(450, 779)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(450, 952)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(450, 1125)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(300, 866)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">9</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(300, 1039)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(150, 952)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">10</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(900, 1038)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">8</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(900, 865)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">7</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(900, 692)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(900, 519)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(900, 346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(900, 173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(900, 0)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(900, -173)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(900, -346)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">8</text>
                </g>
                <g transform="translate(1050, 606)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">5</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(1050, 778)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">6</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(1050, 433)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(1050, 260)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(1050, 87)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(1050, -86)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(1050, -259)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">9</text>
                </g>
                <g transform="translate(1200, 347)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">3</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(1200, 520)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">4</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(1200, 174)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(1200, 1)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(1200, -172)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">10</text>
                </g>
                <g transform="translate(1350, 261)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">2</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(1350, 88)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">1</text>
                  <text x="-20" y="1" class="small">12</text>
                </g>
                <g transform="translate(1350, -85)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                  <text x="20" y="35" class="small">0</text>
                  <text x="-20" y="1" class="small">11</text>
                </g>
                <g transform="translate(1500, 2)">
                  <g class="">
                    <polygon
                      points="100,0 50,-87 -50,-87 -100,-0 -50,87 50,87"
                    ></polygon>
                  </g>
                </g>
                <text x="20" y="35" class="small">0</text>
                <text x="-20" y="1" class="small">12</text>
              </g>

              <!-- <path d="M -600 -519.6152422706632 L -450 -433.0127018922193 L -300 -346.41016151377545 L -300 -173.20508075688772 L -150 -86.60254037844386 L 0 0" class="path"></! -->
              -->
            </g>
          </svg>
        </figure>
        <script type="x-template" id="template-diagram-movement-range">
          <figure id="diagram-movement-range" class="float-right">
              <a-svg style="max-width:500px">
                  <a-grid v-bind:hexes="grid" v-bind:walls="walls" v-bind:setHighlight="setHighlight">
                      <g slot-scope="props" v-bind:class="className(props.hex)">
                          <a-hex></a-hex>
                      </g>
                  </a-grid>
                  <path class="path" v-bind:d="reconstructedPath"></path>
              </a-svg>
          </figure>
        </script>
      </div>
    </section>
    <script src="../js/battle.js"></script>
  </body>
</html>
